<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quizzard</title>
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            customRed: "rgb(232, 95, 131)",
            customPink: "rgb(237, 119, 137)",
            customOrange: "rgb(245, 142, 110)",
          },
        },
      },
    };
  </script>

</head>
<body class="flex  justify-center h-screen bg-gray-100">
    <div class=" text-gray-600 text-center flex mt-12 items-center flex-col">
        <img src="/images/3d-casual-life-chatgpt-robot-happy-raising-right-arm.png" class="w-52" alt="">
        <h1 class="font-bold text-5xl" >Thank You For  Contacting Us</h1>
        <p class="mt-5 text-2xl font-bold">We have recieved your message <br> We'll Reach You Soon</p>
        <a href="/"><input type="button" value="Home" class=" mt-8 text-lg w-36 border-4 rounded-lg text-red-400 border-red-400"></a>
    </div>
</body>

</html>